.main-label-on-time {
  font-size: large;
}

.main-label-late {
  text-decoration: line-through;
  font-size: small;
  opacity: 0.5;
}

.alt-label-on-time {
  font-size: small;
}

.alt-label-late {
  font-size: large;
}

.journeys-page .main-label-on-time {
  font-weight: bold;
}

.journeys-page .alt-label-late {
  font-weight: bold;
}

.stopover-item .main-label-on-time {
  font-size: small;
}

.stopover-item .main-label-late {
  font-size: small;
}

.stopover-item .alt-label-on-time {
  font-size: small;
}

.stopover-item .alt-label-late {
  font-size: small;
}

.provider-icon {
  border-radius: 6px;
}


/* Fixes buttons inside cards having a bigger border radius compared to the card, which leads to the highlight spanning outside of the box. */
.card button {
  border-radius: 12px;
  padding: 0px;
}